<div class="modal-body" style="padding-top: 50px;padding-left: 300px;">
    <div class="row">
        <div class="card-body">
            <div class="row card1">
                <div class="col-sm-12">
                    <dl class="row">

                        <dt class="col-sm-4" style="text-align: center;">
                            <img alt="" class="img-fluid rounded " width="180px" height="180px"
                                src="https://cdn0.iconfinder.com/data/icons/thanksgiving-essentials/48/v-64-512.png"
                                id="detalle2">


                        </dt>
                        <dd class="col-sm-8">
                            <dl class="row">
                                <h2 class="col-sm-12" id="detalle3">Nombre del Platillo</h2>
                                <!-- <div class="col-sm-12">

                            <div class="rateit" data-rateit-value="2.5" data-rateit-ispreset="true"
                              data-rateit-readonly="true"> </div>
                            <h6 style="font-style: italic;">2 comentarios</h6>
                            <h6 style="font-style: italic;">5 veces compartido</h6>
                          </div> -->

                            </dl>
                        </dd>

                    </dl>
                    <dl class="row">
                        <div class="col-sm-6">
                            <dl class="row">
                                <dt class="col-sm-7">Tiempo de Preparación:</dt>
                                <dd class="col-sm-5" id="detalle4"></dd>

                                <dt class="col-sm-5">Porciones:</dt>
                                <dd class="col-sm-7" id="detalle5"></dd>

                                <dt class="col-sm-5">Dificultad:</dt>
                                <dd class="col-sm-7" id="detalle6"></dd>



                                <dt class="col-sm-5">Tipo de Comida:</dt>
                                <dd class="col-sm-7" id="detalle7"></dd>

                                <dt class="col-sm-5">Ocasión:</dt>
                                <dd class="col-sm-7" id="detalle8"></dd>
                            </dl>
                        </div>
                        <div class="col-sm-6" id="">
                            <dl class="row">
                                <dt class="col-sm-5">Dieta:</dt>
                                <dd class="col-sm-7" id="detalle9"></dd>

                                <dt class="col-sm-5">Estilo de Plato:</dt>
                                <dd class="col-sm-7" id="detalle10"></dd>

                                <dt class="col-sm-5"></dt>
                                <dd class="col-sm-7"></dd>

                                <dt class="col-sm-5">Usuario:</dt>
                                <dd class="col-sm-7" id="detalle11"></dd>

                                <dt class="col-sm-5">Fecha de registro:</dt>
                                <dd class="col-sm-7" id="detalle12"></dd>

                                <dt class="col-sm-7">Fecha de actualización:</dt>
                                <dd class="col-sm-5" id="detalle13"></dd>
                            </dl>
                        </div>
                    </dl>
                    <dl class="row">
                        <dd class="col-sm-12">
                            <ul class="nav nav-tabs" id="custom-content-below-tab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="custom-content-below-home-tab" data-toggle="pill"
                                        href="#custom-content-below-home" role="tab"
                                        aria-controls="custom-content-below-home" aria-selected="true">Ingredientes</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="custom-content-below-profile-tab" data-toggle="pill"
                                        href="#custom-content-below-profile" role="tab"
                                        aria-controls="custom-content-below-profile"
                                        aria-selected="false">Instrucciones</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="custom-content-below-messages-tab" data-toggle="pill"
                                        href="#custom-content-below-messages" role="tab"
                                        aria-controls="custom-content-below-messages"
                                        aria-selected="false">Utensilios</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="custom-content-below-settings1-tab" data-toggle="pill"
                                        href="#custom-content-below-settings1" role="tab"
                                        aria-controls="custom-content-below-settings" aria-selected="false">Tips</a>
                                </li>
                                <!-- <li class="nav-item">
                            <a class="nav-link" id="custom-content-below-settings2-tab" data-toggle="pill"
                              href="#custom-content-below-settings2" role="tab"
                              aria-controls="custom-content-below-settings" aria-selected="false">Comentarios</a>
                          </li> -->
                                <li class="nav-item">
                                    <a class="nav-link" id="custom-content-below-settings3-tab" data-toggle="pill"
                                        href="#custom-content-below-settings3" role="tab"
                                        aria-controls="custom-content-below-settings" aria-selected="false">Video</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="custom-content-below-tabContent">
                                <div class="tab-pane fade show active" id="custom-content-below-home" role="tabpanel"
                                    aria-labelledby="custom-content-below-home-tab">
                                    <p id="detalle14" style="white-space: pre-line"></p>
                                </div>
                                <div class="tab-pane fade" id="custom-content-below-profile" role="tabpanel"
                                    aria-labelledby="custom-content-below-profile-tab">
                                    <p id="detalle15" style="white-space: pre-line"></p>
                                </div>
                                <div class="tab-pane fade" id="custom-content-below-messages" role="tabpanel"
                                    aria-labelledby="custom-content-below-messages-tab">
                                    <p id="detalle16" style="white-space: pre-line"></p>
                                </div>
                                <div class="tab-pane fade" id="custom-content-below-settings1" role="tabpanel"
                                    aria-labelledby="custom-content-below-settings1-tab">
                                    <p id="detalle17" style="white-space: pre-line"></p>
                                </div>
                                <!-- <div class="tab-pane fade" id="custom-content-below-settings2" role="tabpanel"
                            aria-labelledby="custom-content-below-settings2-tab">
                            <div class="card-footer card-comments">
                              <div class="card-comment">
                               
                                <img class="img-circle img-sm" src="assets/dist/img/user3-128x128.jpg" alt="User Image">

                                <div class="comment-text">
                                  <span class="username">
                                    Maria Gonzales
                                    <span class="text-muted float-right">8:03 PM Today</span>
                                  </span>
                                  <div class="rateit" data-rateit-value="5" data-rateit-ispreset="true"
                                    data-rateit-readonly="true"> </div><br>

                                  It is a long established fact that a reader will be distracted
                                  by the readable content of a page when looking at its layout.
                                </div>
                            
                              </div>
                            
                              <div class="card-comment">
                             
                                <img class="img-circle img-sm" src="assets/dist/img/user4-128x128.jpg" alt="User Image">

                                <div class="comment-text">
                                  <span class="username">
                                    Luna Stark
                                    <span class="text-muted float-right">8:03 PM Today</span>
                                  </span>
                                  <div class="rateit" data-rateit-value="2" data-rateit-ispreset="true"
                                    data-rateit-readonly="true"> </div><br>
                                  It is a long established fact that a reader will be distracted
                                  by the readable content of a page when looking at its layout.
                                </div>
                               
                              </div>
                            
                            </div>
                        


                          </div> -->
                                <div class="tab-pane fade p-5" id="custom-content-below-settings3" role="tabpanel"
                                    aria-labelledby="custom-content-below-settings3-tab">
                                    <iframe width="420" height="315"
                                        src="https://www.youtube.com/embed/tgbNymZ7vqY?mute=1" id="detalle18">>
                                    </iframe>
                                </div>
                            </div>



                        </dd>


                    </dl>

                </div>


            </div>
        </div>
    </div>
</div>