<div class="content-wrapper" style="padding-left: 60px;padding-right:60px;">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>
            Receta
          </h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Receta</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card card-warning card-outline">
            <div class="card-header">
              <h3 class="card-title">
                <i class="fas fa-arrow-circle-right p-1" > </i>
                <span id="titulo">Registrar Receta</span>
              </h3>
            </div>
            <div class="card-body">
              <form id="idRegistrar" role="form" method="post" (ngSubmit)="registra()" >
                <div class="row">
                  <input type="text" class="form-control" id="idCodReceta"  value=""  hidden>
                  <div class="col-sm-4">
                    <div class="form-group col-sm-12 ">
                      <label for="idnombre">Nombre del platillo</label>
                      <input type="text" class="form-control" id="idnombre" placeholder="" name="nombre"   [(ngModel)]="receta.nombre_platillo" >
                    </div>

                    <div class="col-sm-12">
                      <label for="	idtiempoprep">Tiempo de preparación</label>
                    </div>
                    <div class="col-sm-12 form-group form-inline">
                      <input type="number" class="form-control" id="idtiempoprep" name="tiempoprep" max="300" min="1"  [(ngModel)]="receta.tiempo_preparacion" 
                        value="1">
                      <label style="padding-left: 10px">Minuto(s)</label>
                    </div>

                    <div class="form-group col-sm-12 ">
                      <label for="	idporciones">Porciones</label>
                      <input type="number" class="form-control" id="idporciones" name="porciones" max="100" min="1"  [(ngModel)]="receta.porcion" 
                        value="1">
                    </div>
                    <div class="form-group col-sm-12">
                      <label for="	iddificultad">Dificultad</label>
                      <select class="form-control" name="dificultad" id="iddificultad"  [(ngModel)]="receta.dificultad!.id_dificultad" >
                        <option value="-1">[Seleccione]</option>
                        <option *ngFor="let obj of dificultad" value="{{obj.id_dificultad}}">
                          {{obj.descripcion}}</option>
                      </select>
                    </div>

                  </div>
                  <div class="col-sm-4">
                    <div class="form-group col-sm-12">
                      <label for="idingredientes">Ingredientes</label>
                      <textarea class="form-control" id="idingredientes" rows="4" name="ingredientes"  [(ngModel)]="receta.ingrediente" ></textarea>
                    </div>
                    <div class="form-group col-sm-12">
                      <label for="idintrucciones">Instrucciones</label>
                      <textarea class="form-control" id="idintrucciones" rows="4" name="instrucciones"  [(ngModel)]="receta.instruccion" ></textarea>
                    </div>
                  </div>

                  <div class="col-sm-4">

                    <div class="form-group col-sm-12">
                      <label for="idutensilios">Utensilios</label>
                      <textarea class="form-control" id="idutensilios" rows="4" name="utensilios"  [(ngModel)]="receta.utensilio" ></textarea>
                    </div>
                    <div class="form-group col-sm-12">
                      <label for="idtips">Tips</label>
                      <textarea class="form-control" id="idtips" rows="4" name="tips"  [(ngModel)]="receta.tip" ></textarea>
                    </div>
                  </div>

                  <div class="col-sm-3">
                    <div class="form-group col-sm-12">
                      <label for="	iddieta">Dieta</label>
                      <select class="form-control" name="dieta" id="iddieta"  [(ngModel)]="receta.dieta!.id_dieta" >
                        <option value="-1">[Seleccione]</option>
                        <option *ngFor="let obj of dieta" value="{{obj.id_dieta}}">
                          {{obj.nombre}}</option>
                      </select>
                    
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="form-group col-sm-12">
                      <label for="	idestiloplato">Estilo de plato</label>
                      <select class="form-control" name="estiloplato" id="idestiloplato"  [(ngModel)]="receta.estiloPlato!.id_estilo_plato" >
                        <option value="-1">[Seleccione]</option>
                        <option *ngFor="let obj of estiloPlato" value="{{obj.id_estilo_plato}}">
                          {{obj.nombre}}</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="form-group col-sm-12">
                      <label for="	idtipocomida">Tipo de comida</label>
                      <select class="form-control" name="tipocomida" id="idtipocomida"  [(ngModel)]="receta.tipoComida!.id_tipo_comida" >
                        <option value="-1">[Seleccione]</option>
                        <option *ngFor="let obj of tipoComida" value="{{obj.id_tipo_comida}}">
                          {{obj.nombre}}</option>
                      </select>
                    </div>
                  </div>
                    <div class="col-sm-3">
                    <div class="form-group col-sm-12">
                      <label for="	idocasion">Ocasión</label>
                      <select class="form-control" name="ocasion" id="idocasion"  [(ngModel)]="receta.ocasion!.id_ocasion" >
                        <option value="-1">[Seleccione]</option>
                        <option *ngFor="let obj of ocasion" value="{{obj.id_ocasion}}">
                          {{obj.nombre}}</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-sm-12">
                    <div class="form-group col-sm-8 ">
                      <label for="idvideo">Link del video</label>
                      <input type="text" class="form-control" id="idvideo" name="video" placeholder=""  [(ngModel)]="receta.video" >
                    </div>
                    <div class="form-group col-sm-7	">
                      <label for="idperfil">Foto del platillo</label>
                      <div class="card-body">
                        <div id="actions" class="row">
                          <div class="col-lg-12">
                            <div class="btn-group w-100">
                              <span class="btn btn-warning col fileinput-button"  id="inserFoto">
                                <i class="fas fa-plus p-1"></i>
                                <span>Adjuntar foto</span>
                              </span>
                              <button type="button" class="btn btn-danger col cancel" id="elimFoto">
                                <i class="fas fa-times-circle p-1"></i>
                                <span>Eliminar foto</span>
                              </button>
                            </div>
                          </div>
                          <div class="col-lg-6 d-flex align-items-center">

                          </div>
                        </div>
                        <div class="table table-striped files" id="previews">
                          <div id="template" class="row mt-2">
                            <div class="col-auto">
                              <span class="preview"><img src="data:," alt="" data-dz-thumbnail /></span>
                            </div>
                            <div class="col d-flex align-items-center">
                              <p class="mb-0">
                                <span class="lead" data-dz-name></span>
                                (<span data-dz-size></span>)
                              </p>
                              <strong class="error text-danger errorFoto" data-dz-errormessage ></strong>
                            </div>

                          </div>
                        </div>
                        <label id="errorimagen" class="error"></label>
                      </div>
                    </div>
                  </div>

                </div>


                <div class="row">
                  <div class="col-sm-12 ">
                    <button type="button" class="btn btn-outline-secondary float-right m-2" id="btnLimpiar">
                      <i class="fas fa-broom p-1"></i><span class="boton">Limpiar</span></button>
                    <button type="button" class="btn btn-info float-right m-2 " id="btnRegistrar">
                      <i class="fas fa-save p-1"></i><span class="boton" id="boton">Registrar</span></button>
                  </div>
                </div>
              </form>

            </div>
            <!-- /.card -->
          </div>


        </div>
        <!-- /.col -->
      </div>
      <!-- ./row -->
    </div><!-- /.container-fluid -->

    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card card-warning card-outline">
            <div class="card-header">
              <h3 class="card-title">
                <i class="fas fa-arrow-circle-right p-1"></i>
                Lista de Recetas
              </h3>
            </div>
            <div class="card-body">
              <table id="example1" class="table table-bordered ">
                <thead>
                  <tr>
                    <th>Código</th>
                    <th>Nombre del platillo</th>
                    <th>Usuario</th>
                    <th>Fecha de registro</th>
                    <th>Fecha de actualización</th>
                    <th>Estado</th>

                    <th class="ult-col"></th>


                  </tr>
                </thead>
                <tbody *ngIf="allDataFetched">
                  <tr *ngFor="let obj of recetas">
                    <td>{{obj.id_receta}}</td>
                    <td>{{obj.nombre_platillo}} </td>
                      <td> {{obj.usuario!.nombres}}  {{obj.usuario!.apellidos}}</td>
                      <td> {{obj.fecha_registro | date : 'dd/MM/yyyy'}}</td>
                      <td *ngIf="obj.fecha_actualiza!=null"> {{obj.fecha_actualiza | date : 'dd/MM/yyyy'}}</td>
                      <td *ngIf="obj.fecha_actualiza==null">No existe</td>
                      <td *ngIf="obj.estado==1">Activo</td>
                      <td *ngIf="obj.estado==2">Inactivo</td>
                    <td class="d-flex align-items-center justify-content-center">
                      <button type="button" class="btn btn-warning mr-2" data-toggle="modal" data-target="#modalVer" (click)="ver(obj.id_receta)"
                        id="btnVer">
                        <i class="fas fa-eye"></i></button>
                      <button type="button" class="btn btn-info mr-2" data-toggle="modal" id="btnEditar" (click)="editar(obj.id_receta,obj.estado)">
                        <i class="fas fa-edit"></i></button>
                        <form id="idEliminar" role="form" (ngSubmit)="elimina(obj.id_receta,obj.estado)">
                          <button type="submit" class="btn btn-danger" 
                          id="btnEliminar" >  <i class="fas fa-trash-alt"></i></button>
                          </form>
                     
                    </td>
                  </tr>


              </table>
            </div>
            <!-- /.card -->
          </div>


        </div>
        <!-- /.col -->
      </div>
      <!-- ./row -->
    </div><!-- /.container-fluid -->

    <!-- Modal Ver detalle-->
    <div class="modal fade" id="modalVer" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog  modal-dialog-centered modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Detalle de Receta N° <span id="detalle1"></span></h5>

            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" style="padding-top: 0px;">
            <div class="row">
              <div class="card-body">
                <div class="row card1">
                  <div class="col-sm-12">
                    <dl class="row">

                      <dt class="col-sm-4" style="text-align: center;">
                        <img alt="" class="img-fluid rounded " width="180px" height="180px"
                          src="https://cdn0.iconfinder.com/data/icons/thanksgiving-essentials/48/v-64-512.png"
                          id="detalle2">


                      </dt>
                      <dd class="col-sm-8">
                        <dl class="row">
                          <h2 class="col-sm-12" id="detalle3">Nombre del Platillo</h2>
                          <div class="col-sm-12">

                            <div class="rateit" data-rateit-value="2.5" data-rateit-ispreset="true"
                              data-rateit-readonly="true"> </div>
                            <h6 style="font-style: italic;">2 comentarios</h6>
                            <h6 style="font-style: italic;">5 veces compartido</h6>
                          </div>
                       
                        </dl>
                      </dd>

                    </dl>
                    <dl class="row">
                      <div class="col-sm-6">
                        <dl class="row">
                        <dt class="col-sm-7">Tiempo de Preparación:</dt>
                        <dd class="col-sm-5" id="detalle4"></dd>
    
                        <dt class="col-sm-5">Porciones:</dt>
                        <dd class="col-sm-7" id="detalle5"></dd>
    
                        <dt class="col-sm-5">Dificultad:</dt>
                        <dd class="col-sm-7" id="detalle6"></dd>
    
                      
    
                        <dt class="col-sm-5">Tipo de Comida:</dt>
                        <dd class="col-sm-7" id="detalle7"></dd>
    
                        <dt class="col-sm-5">Ocasión:</dt>
                        <dd class="col-sm-7" id="detalle8"></dd>
                      </dl>
                      </div>
                      <div class="col-sm-6" id="">
                        <dl class="row">
                          <dt class="col-sm-5">Dieta:</dt>
                          <dd class="col-sm-7" id="detalle9"></dd>
      
                          <dt class="col-sm-5">Estilo de Plato:</dt>
                          <dd class="col-sm-7" id="detalle10"></dd>

                          <dt class="col-sm-5"></dt>
                          <dd class="col-sm-7" ></dd>

                          <dt class="col-sm-5">Usuario:</dt>
                          <dd class="col-sm-7" id="detalle11"></dd>

                          <dt class="col-sm-5">Fecha de registro:</dt>
                          <dd class="col-sm-7" id="detalle12"></dd>

                          <dt class="col-sm-7">Fecha de actualización:</dt>
                          <dd class="col-sm-5" id="detalle13"></dd>
                        </dl>
                      </div>
                  </dl>
                    <dl class="row">
                      <dd class="col-sm-12">
                        <ul class="nav nav-tabs" id="custom-content-below-tab" role="tablist">
                          <li class="nav-item">
                            <a class="nav-link active" id="custom-content-below-home-tab" data-toggle="pill"
                              href="#custom-content-below-home" role="tab" aria-controls="custom-content-below-home"
                              aria-selected="true">Ingredientes</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" id="custom-content-below-profile-tab" data-toggle="pill"
                              href="#custom-content-below-profile" role="tab"
                              aria-controls="custom-content-below-profile" aria-selected="false">Instrucciones</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" id="custom-content-below-messages-tab" data-toggle="pill"
                              href="#custom-content-below-messages" role="tab"
                              aria-controls="custom-content-below-messages" aria-selected="false">Utensilios</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" id="custom-content-below-settings1-tab" data-toggle="pill"
                              href="#custom-content-below-settings1" role="tab"
                              aria-controls="custom-content-below-settings" aria-selected="false">Tips</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" id="custom-content-below-settings2-tab" data-toggle="pill"
                              href="#custom-content-below-settings2" role="tab"
                              aria-controls="custom-content-below-settings" aria-selected="false">Comentarios</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" id="custom-content-below-settings3-tab" data-toggle="pill"
                              href="#custom-content-below-settings3" role="tab"
                              aria-controls="custom-content-below-settings" aria-selected="false">Video</a>
                          </li>
                        </ul>
                        <div class="tab-content" id="custom-content-below-tabContent">
                          <div class="tab-pane fade show active" id="custom-content-below-home" role="tabpanel"
                            aria-labelledby="custom-content-below-home-tab">
                            <p id="detalle14" style="white-space: pre-line"></p>
                          </div>
                          <div class="tab-pane fade" id="custom-content-below-profile" role="tabpanel"
                            aria-labelledby="custom-content-below-profile-tab">
                            <p id="detalle15" style="white-space: pre-line"></p>
                          </div>
                          <div class="tab-pane fade" id="custom-content-below-messages" role="tabpanel"
                            aria-labelledby="custom-content-below-messages-tab">
                            <p id="detalle16" style="white-space: pre-line"></p>
                          </div>
                          <div class="tab-pane fade" id="custom-content-below-settings1" role="tabpanel"
                            aria-labelledby="custom-content-below-settings1-tab">
                            <p id="detalle17" style="white-space: pre-line"></p>
                          </div>
                          <div class="tab-pane fade" id="custom-content-below-settings2" role="tabpanel"
                            aria-labelledby="custom-content-below-settings2-tab">
                            <div class="card-footer card-comments">
                              <div class="card-comment">
                                <!-- User image -->
                                <img class="img-circle img-sm" src="assets/dist/img/user3-128x128.jpg" alt="User Image">

                                <div class="comment-text">
                                  <span class="username">
                                    Maria Gonzales
                                    <span class="text-muted float-right">8:03 PM Today</span>
                                  </span><!-- /.username -->
                                  <div class="rateit" data-rateit-value="5" data-rateit-ispreset="true"
                                    data-rateit-readonly="true"> </div><br>

                                  It is a long established fact that a reader will be distracted
                                  by the readable content of a page when looking at its layout.
                                </div>
                                <!-- /.comment-text -->
                              </div>
                              <!-- /.card-comment -->
                              <div class="card-comment">
                                <!-- User image -->
                                <img class="img-circle img-sm" src="assets/dist/img/user4-128x128.jpg" alt="User Image">

                                <div class="comment-text">
                                  <span class="username">
                                    Luna Stark
                                    <span class="text-muted float-right">8:03 PM Today</span>
                                  </span><!-- /.username -->
                                  <div class="rateit" data-rateit-value="2" data-rateit-ispreset="true"
                                    data-rateit-readonly="true"> </div><br>
                                  It is a long established fact that a reader will be distracted
                                  by the readable content of a page when looking at its layout.
                                </div>
                                <!-- /.comment-text -->
                              </div>
                              <!-- /.card-comment -->
                            </div>
                            <!-- /.card-footer -->


                          </div>
                          <div class="tab-pane fade p-5" id="custom-content-below-settings3" role="tabpanel"
                            aria-labelledby="custom-content-below-settings3-tab">
                            <iframe width="420" height="315"
                            src="https://www.youtube.com/embed/tgbNymZ7vqY?mute=1" id="detalle18">>
                            </iframe>
                          </div>
                        </div>



                      </dd>


                    </dl>

                  </div>


                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>



    <div class="modal fade" id="modalEliminar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog  modal-dialog-centered modal-lg">
        <div class="modal-content">

          <div class="modal-body" style="padding-top: 5%;">
            <form method="post">
              <input type="hidden" id="idEliminar" name="codigoEliminar">
              <h4>¿Seguro que deseas eliminar Receta?</h4>
              <div class="modal-footer">
                <button type="submit" class="btn btn-info">Sí</button>
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">No</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- /.modal -->

  </section>
  <!-- /.content -->
</div>