<div class="content-wrapper" style="padding-left: 60px;padding-right:60px;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>
              Microondas
            </h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Microondas</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
  
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="card card-warning card-outline">
              <div class="card-header">
                <h3 class="card-title">
                  <i class="fas fa-arrow-circle-right p-1"></i>
                  Registrar Microondas
                </h3>
              </div>
              <div class="card-body">
                <form id="idRegistrar" role="form" method="post">
                  <div class="row">
                    <div class="col-sm-6 p-3" style="border-right: 1px solid #cccccc;">
                         
                        <h5 class="card-title col-sm-12" style="font-weight: 600">Datos de la Receta</h5>
                            <hr>
                            <div class="row">
                                <div class="col-sm-5 d-flex align-items-center justify-content-center" >
                                    <img alt="" class="img-fluid rounded" src="https://thumbs.dreamstime.com/b/el-libro-de-recetas-alinea-concepto-del-icono-ejemplo-linear-vector-las-s%C3%ADmbolo-muestra-132450732.jpg" id="idimgsoli">
                                </div>
                                <div class="col-sm-7">   															        			
                                    <div class="form-group col-sm-12">
                                        <label for ="idcodigo">Código</label> 
                                        <div class="input-group mb-3">
                                          <input type="text" class="form-control" id="idcodigo"  name="codReceta"  readonly >
                                          <div class="input-group-append">
                                            <button class="btn btn-outline-secondary "  type="button"  data-toggle="modal" data-target="#modalBuscar" id="btnBuscar"><span class="fas fa-search"></span></button>
                                          </div>
                                        </div>									
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <label for="idnombre">Nombre</label> <input type="text"
                                            class="form-control" id="idnombre" readonly >
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <label for="idtiempo">Tiempo de Preparación</label> <input type="text"
                                            class="form-control" id="idtiempo" readonly>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <label for="idporcion">Porción</label> <input type="text"
                                            class="form-control" id="idporcion"  readonly>
                                    </div>
                                  
                                </div>
                            </div>								
                        
                      </div>
                    <div class="col-sm-6 p-3">
                      <div class="form-group col-sm-12 ">
                        <label for="idnombre">Nombre de microondas</label>
                        <input type="text" class="form-control" id="idnombre" placeholder="">
                      </div>
   
                      <div class="col-sm-12">
                        <div class="form-group col-sm-12	">
                          <label for="idperfil">Foto del microondas</label>
                          <div class="card-body">
                            <div id="actions" class="row">
                              <div class="col-lg-7">
                                <div class="btn-group w-100">
                                  <span class="btn btn-warning col fileinput-button">
                                    <i class="fas fa-plus p-1"></i>
                                    <span>Adjuntar foto</span>
                                  </span>
                                </div>
                              </div>
                              <div class="col-lg-6 d-flex align-items-center">
    
                              </div>
                            </div>
                            <div class="table table-striped files" id="previews">
                              <div id="template" class="row mt-2">
                                <div class="col-auto">
                                  <span class="preview"><img src="data:," alt="" data-dz-thumbnail /></span>
                                </div>
                                <div class="col d-flex align-items-center">
                                  <p class="mb-0">
                                    <span class="lead" data-dz-name></span>
                                    (<span data-dz-size></span>)
                                  </p>
                                  <strong class="error text-danger" data-dz-errormessage></strong>
                                </div>
    
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  
  
                  
  
                  </div>
  
  
                  <div class="row">
                    <div class="col-sm-12 ">
                      <button type="button" class="btn btn-outline-secondary float-right m-2" id="btnLimpiar">
                        <i class="fas fa-broom p-1"></i><span class="boton">Limpiar</span></button>
                      <button type="submit" class="btn btn-info float-right m-2 " id="btnRegistrar">
                        <i class="fas fa-save p-1"></i><span class="boton">Registrar</span></button>
                    </div>
                  </div>
                </form>
  
              </div>
              <!-- /.card -->
            </div>
  
  
          </div>
          <!-- /.col -->
        </div>
        <!-- ./row -->
      </div><!-- /.container-fluid -->
  
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="card card-warning card-outline">
              <div class="card-header">
                <h3 class="card-title">
                  <i class="fas fa-arrow-circle-right p-1"></i>
                  Lista de Microondas
                </h3>
              </div>
              <div class="card-body">
                <table id="example1" class="table table-bordered ">
                  <thead>
                    <tr>
                      <th>Código</th>
                      <th>Nombre del microondas</th>
                      <th>Nombre de receta</th>
  
                      <th class="ult-col"></th>
  
  
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Trident</td>
                      <td>Internet
                        Explorer 4.0
                      </td>
                      <td>Win 95+</td>
                      <td class="d-flex align-items-center justify-content-center">
                        <button type="button" class="btn btn-warning mr-2" data-toggle="modal" data-target="#modalVer"
                          id="btnVer">
                          <i class="fas fa-eye"></i></button>
                        <button type="button" class="btn btn-info mr-2" data-toggle="modal" id="btnEditar">
                          <i class="fas fa-edit"></i></button>
                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modalEliminar"
                          id="btnEliminar">
                          <i class="fas fa-trash-alt"></i></button>
                      </td>
                    </tr>
  
  
                </table>
              </div>
              <!-- /.card -->
            </div>
  
  
          </div>
          <!-- /.col -->
        </div>
        <!-- ./row -->
      </div><!-- /.container-fluid -->
  
      <!-- Modal Buscar-->
	<div class="modal fade" id="modalBuscar" tabindex="-1"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Buscar Microondas</h5>
                <button type="button" class="close" data-dismiss="modal"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="padding-top: 0px;">			
                <div class="row">
                            <div class="card-body">
                                <div class="row">
                                <div class="table-responsive">
                                    <table class="table table-bordered" id="example2" width="100%"
                                        cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th>Código</th>
                                                <th>Nombre de receta</th>
                                                <th hidden></th>
                                                <th hidden></th>
                                                <th hidden></th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            
                                             <tr >
                              
                                                <td ></td>
                                                <td ></td>
                                                <td hidden></td>
                                                <td hidden></td>
                                                <td hidden></td>
                                                <td class="d-flex align-items-center justify-content-center">
                                                <button type="button" class="btn btn-warning " data-toggle="modal" id="btnAgregar"
                                                data-dismiss="modal" aria-label="Close">
                                                <i class="fas fa-file-medical"></i></button></td>
                                            </tr>
                                       
                                        </tbody>
                                    </table>
                                </div>
                                </div>
                            </div>
                </div>		
            </div>
        </div>
    </div>
</div>

      <!-- Modal Ver detalle-->
      <div class="modal fade" id="modalVer" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog  modal-dialog-centered modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Detalle de Microondas N° <span id="detalle11"></span></h5>
  
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body" style="padding-top: 0px;">
              <div class="row">
                <div class="card-body">
                  <div class="row card1">
                    <div class="col-sm-12">
                        <dl class="row">
  
                            <dt class="col-sm-4" style="text-align: center;">
                              <img alt="" class="img-fluid rounded " width="180px" height="180px"
                                src="https://cdn3.iconfinder.com/data/icons/kitchen-universe-2/160/32_microwave-512.png"
                                id="detalle12">
      
      
                            </dt>
                            <dd class="col-sm-8">
                                <dl class="row">
                                    <h2 class="col-sm-12" id="detalle11">Nombre del Microondas</h2>
                                  
                                    <dt class="col-sm-5"></dt>
                                    <dd class="col-sm-7" ></dd>
          
                                    <dt class="col-sm-5">Usuario:</dt>
                                    <dd class="col-sm-7" id="detalle12"></dd>
          
                                    <dt class="col-sm-5">Fecha de registro:</dt>
                                    <dd class="col-sm-7" id="detalle13"></dd>
          
          
                                  </dl>
                            </dd>
      
                          </dl>
                          <dl class="row  ">
                            <dd class="col-sm-12">
                                <ul class="nav nav-tabs" id="custom-content-below-tab" role="tablist">
                                    <li class="nav-item">
                                      <a class="nav-link active" id="custom-content-below-home-tab" data-toggle="pill"
                                        href="#custom-content-below-home" role="tab" aria-controls="custom-content-below-home"
                                        aria-selected="true">Datos de la Receta</a>
                                    </li>
                                 
                                  </ul>
                                  <div class="tab-content" id="custom-content-below-tabContent">
                                    <div class="tab-pane fade show active" id="custom-content-below-home" role="tabpanel"
                                      aria-labelledby="custom-content-below-home-tab">
                                      <dl class="row  p-3">
      
                                        <dt class="col-sm-2" style="text-align: center;">
                                          <img alt="" class="img-fluid rounded " width="100px" height="100px"
                                            src="https://cdn0.iconfinder.com/data/icons/thanksgiving-essentials/48/v-64-512.png"
                                            id="detalle12">
                  
                  
                                        </dt>
                                        <dd class="col-sm-10">
                                          <dl class="row ">
                                            <h4 class="col-sm-12" id="detalle1">Nombre del Platillo</h4>
                                            <dl class="row p-3">
                                                <dt class="col-sm-6">
                                                  <dl class="row">
                                                  <dt class="col-sm-8">Tiempo de Preparación:</dt>
                                                  <dd class="col-sm-4" id="detalle2"></dd>
                              
                                                  <dt class="col-sm-5">Porciones:</dt>
                                                  <dd class="col-sm-7" id="detalle3"></dd>
                              
                                                  <dt class="col-sm-5">Dificultad:</dt>
                                                  <dd class="col-sm-7" id="detalle4"></dd>
                              
                                                
                                                  <dt class="col-sm-5">Ocasión:</dt>
                                                  <dd class="col-sm-7" id="detalle8"></dd>
                                                </dl>
                                                </dt>
                                                <dd class="col-sm-6" id="">
                                                  <dl class="row">
                                                    <dt class="col-sm-5">Dieta:</dt>
                                                    <dd class="col-sm-7" id="detalle5"></dd>
                                
                                                    <dt class="col-sm-5">Estilo de Plato:</dt>
                                                    <dd class="col-sm-7" id="detalle6"></dd>

                                                    
                              
                                                  <dt class="col-sm-5">Tipo de Comida:</dt>
                                                  <dd class="col-sm-7" id="detalle7"></dd>
                              
                          
                                                    
                                                  </dl>
                                                </dd>
                                            </dl>
                  
                                          </dl>
                                        </dd>
                  
                                      </dl>
                                    </div>
                                </div>
                            </dd>
                          </dl>
  
                    </div>
  
  
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  
  
  
      <div class="modal fade" id="modalEliminar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog  modal-dialog-centered modal-lg">
          <div class="modal-content">
  
            <div class="modal-body" style="padding-top: 5%;">
              <form method="post">
                <input type="hidden" id="idEliminar" name="codigoEliminar">
                <h4>¿Seguro que deseas eliminar Microondas?</h4>
                <div class="modal-footer">
                  <button type="submit" class="btn btn-info">Sí</button>
                  <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">No</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- /.modal -->
  
    </section>
    <!-- /.content -->
  </div>
